{
  "gitea_url": "https://{{ chineseroom_gitea_domain }}",
  "gitea_org": "{{ chineseroom_gitea_mirror_org }}",
  "mirrors_dir": "{{ chineseroom_gitea_mirrors_dir }}",
  "mirror_token_file": "{{ chineseroom_gitea_mirror_token_file }}"
}
