GITEA_WEBHOOK_SECRET={{ chineseroom_gitea_webhook_secret }}
GITEA_PUSH_SCRIPT={{ chineseroom_gitea_push_script }}
GITEA_PULL_SCRIPT={{ chineseroom_gitea_pull_script }}
GITEA_PULL_CONFIG={{ chineseroom_gitea_pull_config }}
GITEA_MIRRORS_DIR={{ chineseroom_gitea_mirrors_dir }}
GITEA_WEBHOOK_LISTEN={{ chineseroom_gitea_webhook_listen }}
GITEA_WEBHOOK_PORT={{ chineseroom_gitea_webhook_port }}
