GITEA_PULL_CONFIG={{ chineseroom_gitea_pull_config }}
GITEA_MIRRORS_DIR={{ chineseroom_gitea_mirrors_dir }}
GITEA_WEBHOOK_LISTEN={{ chineseroom_gitea_webhook_listen }}
GITEA_WEBHOOK_PORT={{ chineseroom_gitea_webhook_port }}
