{
    "id": "{{ backup_unifi_jobname }}",
    "execute-command": "sudo",
    "pass-arguments-to-command": [
      {"source": "string", "name": "-u"},
      {"source": "string", "name": "{{ backup_unifi_user }}"},
      {"source": "string", "name": "{{ backup_unifi_scriptpath }}"}
    ],
    "include-command-output-in-response": true
}

