# Configuration for cesanta/docker_auth image

server:
  addr: "0.0.0.0:5001"
  # do NOT configure cert/key here, as this configures HTTPS
  # We want this to be serving HTTP content, bc our Traefik is doing TLS termination
  #certificate: /tokencert.pem
  #key: /tokencert.key

token:
  issuer: "{{ privnet_docker_registry_auth_token_issuer }}" # Must match issuer in the Registry config.
  expiration: 900
  certificate: /tokencert.pem
  key: /tokencert.key

users:
  # Password is specified as a BCrypt hash. Use `htpasswd -nB USERNAME` to generate.
  "mrled":
    password: "{{ privnet_docker_registry_htpasswd_account_mrled_password_hash }}"
  "jenkins":
    password: "{{ privnet_docker_registry_htpasswd_account_jenkins_password_hash }}"
  "": {}

acl:
  - match: {account: "mrled"}
    actions: ["*"]
    comment: "Micah can do anything"
  - match: {account: "jenkins"}
    actions: ["*"]
    comment: "Jenkins can do anything"
  - match: {account: ""}
    actions: ["pull"]
    comment: "Anonymous users can pull"
