---
- name: Add Stripe DNF repo
  ansible.builtin.yum_repository:
    name: stripe
    description: Stripe
    baseurl: https://packages.stripe.dev/stripe-cli-rpm-local/
    enabled: yes
    gpgcheck: no
    repo_gpgcheck: no
    state: present

- name: Packages
  dnf:
    name:
      - atuin
      - git-lfs
      - ripgrep
      - sqlite
      - stripe
      - vim
    state: present

- name: Install jujutsu
  block:
  - name: Set jujutsu architecture
    set_fact:
      jujutsu_arch: "{{ 'aarch64' if ansible_architecture == 'aarch64' else 'x86_64' }}"

  - name: Download jujutsu
    get_url:
      url: "https://github.com/jj-vcs/jj/releases/download/v{{ jujutsu_version }}/jj-v{{ jujutsu_version }}-{{ jujutsu_arch }}-unknown-linux-musl.tar.gz"
      dest: "/usr/local/src/jj-v{{ jujutsu_version }}-{{ jujutsu_arch }}-unknown-linux-musl.tar.gz"

  - name: Extract jujutsu
    unarchive:
      src: "/usr/local/src/jj-v{{ jujutsu_version }}-{{ jujutsu_arch }}-unknown-linux-musl.tar.gz"
      dest: /usr/local/bin
      remote_src: yes
      extra_opts:
        - --strip-components=1
