[LightDM]
[Seat:*]
allow-guest=false
display-setup-script=/var/psyopsOS/lightdm-display-setup.sh
greeter-setup-script=/var/psyopsOS/lightdm-display-setup.sh
session-setup-script=/var/psyopsOS/lightdm-display-setup.sh
[XDMCPServer]
enabled=false
[VNCServer]
enabled=false
