---

ansible_ssh_private_key_file: ~/.ssh/conspirator@PSYOPS_ed25519

# Global variables
# We prefix all of these with global_ so its clear where they come from

# Show in different formats, because sigh
global_timezone:
  zoneinfo_cityname: America/Chicago
  zoneinfo_tzname: US/Central

# This is not prefixed with global_, but the base role is very generic
base_timezone: "{{ global_timezone.zoneinfo_tzname }}"

# This stuff is used on all my Linux machines
global_syslog_host: syslog.home.micahrl.com
global_syslog_netsys_port: "514"
global_syslog_netcons_port: "5514"
global_syslog_nettemp_port: "5515"

# Unifi stuff
global_cloudkey_hostname: cloudkey.home.micahrl.com
global_cloudkey_ssh_host_key: "{{ global_cloudkey_hostname }},192.168.1.2 ecdsa-sha2-nistp256 AAAAE2VjZHNhLXNoYTItbmlzdHAyNTYAAAAIbmlzdHAyNTYAAABBBHZyo3/q7m109QtIgO3HyNsfox2k7cDm9qg1xlq8rOloWzGHVEyW4qS7uYZhqPuiGldifjMafPWMMfZQG8GvgIc="
global_cloudkey_user: mrladmin

# root AWS keys
global_aws_access_key: "{{ vault_aws_access_key }}"
global_aws_secret_key: "{{ vault_aws_secret_key }}"
global_aws_region: us-east-2

# For ACME DNS challenges in the micahrl.com domain
# Used in multiple roles
global_origin_zone_updater_aws_access_key: "{{ vault_origin_zone_updater_aws_access_key }}"
global_orogin_zone_updater_aws_secret_key: "{{ vault_origin_zone_updater_aws_secret_key }}"
global_origin_zone_zone_id: Z3HVGWA7OSS1TK
global_origin_zone_aws_region: "{{ global_aws_region }}"

# For ACME DNS challenges in the home.micahrl.com domain
# Used in multiple roles
global_home_zone_updater_access_key: "{{ vault_home_zone_updater_access_key }}"
global_home_zone_updater_secret_key: "{{ vault_home_zone_updater_secret_key }}"
global_home_zone_updater_zone_id: Z32HSYI0AGMFV9
global_home_zone_updater_region: "{{ global_aws_region }}"

# For the generic cloudformation role, set the all-access keys as the defaults
# This is not prefixed with global_, but the cfn role is very generic
cloudformation_aws_region: "{{ global_aws_region }}"

# Shared seedbox stuff
global_seedbox_domain: "{{ vault_seedbox_domain }}"
global_plexserver_domain: plex.{{ global_seedbox_domain }}

# Shared appliance stuff
global_acmedns_ssh_client_pubkey: ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABAQC07+VcrheD/Xe3rDxCvFxG6uLmHW2NPeF80Al/O2mFeXRP8s7F6B57jyxWTmO0iPhtMmrlhf9dtev6dw2jQIr0gGPSzvw5yJ9TsYjS7XogpQ4RlcFAqiAwp+zDGDF7NN9vyptsCAEiG4rnEPEdp9B0xTZmiqQ1RliwDtzZCpmJ1Eh5RZnmjGJmzTGsIiDBM2qkpIjL1QC+AQysWeSUDx9YB+9YWI4rmJv49RAO451/hCmTgv0c97UzQXjBb4aogQgYdglSjO21InoyQ6Q2fgJt5WOk+miAN638qBH24veHAE+PlzMGwS9YRMyFBvGzPn6z390vpM+pLY9wQoDMAHRN acmedns_syno_nas_ssh_pubkey
global_backup_ssh_client_pubkey: ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAACAQDZOwlN6NAaYqIFkdy6LofXEk3rn9wVZSHr8Jlh/lWZdn17pqRifY2yEwNOj+tnkq4inMgiXIdGZdb0WiOwxClDvmlDyOaADK0Zi5aLmSqf2KBbxXeNYZcdCvPip0aiFv7LxYfLN95r30z+ZFCpC/vtRqcypGlFJ+I26LmXsz2ZIPNo96SEeA8gB2SHVAugCIRlGoS6fwcb96E08HKe/hYTGVs70G0tZ5HXABkK71CbijH0LZQOIJq6UPqc4s0O3+z7FJ1dXrJ3B/nfn+cAfJpsTMHgRmpa7tr5ps/rC/Qj8EGW/x2UuES6bepyxRCZhAKuI40uL/2/6WHsW0TJm/GKnxMXP0rAjHbY5fCnAlFsqYZKt59/cMauQvD0nNaoXFpLFbOzQSt9nFEjD4ANGiGKnW36Gxj+kmRhhM7s2XagzmyQY6GgDASEfnWyBZnDKfH5T2HJueqaSNdxPK7lJqBbapj+WRHKa1hSVKuMfFJl7+q24SvTjJhDxrs+Al5Aq6U8rCwtQy5cIE3Ox4xi8TsztJP5Xq5aiMwfbRKLzzO+0bf9gipZeTV+ipphThVDPUGXVaohodmSvHXSY/+hM1G98Dmvoh1kofbIDKjij8nuWgx6T5vJrvA6KDVLq/REb8NRIQjOxgSwJFRr/8SjiR4yZtne8BJ+6d4NjAuxLvkRyQ== backup_base_ssh_pubkey

http_backchannel_acme_email: psyops@micahrl.com
