# ... this is basically the default file,
# except the default file monitors http://elasticsearch:9200.
# My server is http://elastic:9200,
# but monitoring from logstash is deprecated anyway,
# so fucking disabled it.
# TODO: monitor with Elastic Agent <https://www.elastic.co/guide/en/logstash/current/monitoring-with-elastic-agent.html>

http.host: "0.0.0.0"
xpack.monitoring.enabled: false
