# logstash pipelines

- pipeline.id: dockerdaemon
  path.config: /usr/share/logstash/pipelines/docker-daemon.conf

- pipeline.id: traefik
  path.config: /usr/share/logstash/pipelines/traefik.conf

- pipeline.id: filebeater-container-logfiles
  path.config: /usr/share/logstash/pipelines/filebeater-container-logfiles.conf

