<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>Label</key>
  <string>{{ splash_service_name }}</string>
  <key>UserName</key>
  <string>{{ splash_user }}</string>
  <key>WorkingDirectory</key>
  <string>{{ splash_home }}</string>
  <key>ProgramArguments</key>
  <array>
    <string>/bin/zsh</string>
    <string>-lc</string>
    <string>export HF_HOME={{ splash_hf_home | quote }}; export SPLASH_WEIGHT_CACHE={{ splash_weight_cache | quote }}; exec {{ splash_executable | quote }} serve{% for model in splash_models %} --model {{ model | quote }}{% endfor %} --port {{ splash_port }} --host 127.0.0.1 2&gt;&amp;1 | /usr/bin/logger -t splash</string>
  </array>
  <key>EnvironmentVariables</key>
  <dict>
    <key>HOME</key>
    <string>{{ splash_user_home }}</string>
    <key>PATH</key>
    <string>/opt/homebrew/bin:/usr/local/bin:/usr/bin:/bin</string>
  </dict>
  <key>RunAtLoad</key>
  <true/>
  <key>KeepAlive</key>
  <true/>
</dict>
</plist>
