[submodule "submod/dhd"]
	path = submod/dhd
	url = git@github.com:mrled/dhd.git
[submodule "submod/wintriallab"]
	path = submod/wintriallab
	url = git@github.com:mrled/wintriallab.git
[submodule "docker/setup/toilet"]
	path = docker/setup/toilet
	url = https://github.com/cacalabs/toilet
[submodule "submod/algo"]
	path = submod/algo
	url = git@github.com:mrled/algo.git
[submodule "submod/architect"]
	path = submod/architect
	url = git@github.com:mrled/architect.git
[submodule "submod/automata"]
	path = submod/automata
	url = git@github.com:mrled/automata.git
[submodule "submod/fourgang"]
	path = submod/fourgang
	url = git@github.com:mrled/fourgang.git
