[submodule "submod/dhd"]
	path = submod/dhd
	url = git@github.com:mrled/dhd.git
[submodule "submod/wintriallab"]
	path = submod/wintriallab
	url = git@github.com:mrled/wintriallab.git
[submodule "submod/algo"]
	path = submod/algo
	url = git@github.com:mrled/algo.git
[submodule "submod/fourgang"]
	path = submod/fourgang
	url = git@github.com:mrled/fourgang.git
[submodule "submod/matrix-docker-ansible-deploy"]
	path = submod/matrix-docker-ansible-deploy
	url = git@github.com:mrled/matrix-docker-ansible-deploy.git
