---

loglevel: DEBUG
database: "{{ http_root_micahrl_com_interpersonal_db }}"
password: "{{ http_root_micahrl_com_interpersonal_passphrase }}"
cookie_secret_key: "{{ http_root_micahrl_com_interpersonal_cookie_secret }}"
uri: "{{ http_root_micahrl_com_interpersonal_uri }}"
mediastaging: "{{ http_root_micahrl_com_interpersonal_mediastaging_dir }}"

blogs:

  - name: interpersonal-test
    type: github
    uri: https://interpersonal-test-blog.netlify.app/
    sectionmap:
      default: blog
    github_owner: mrled
    github_repo: interpersonal-test-blog
    github_app_id: "{{ http_root_micahrl_com_interpersonal_app_id }}"
    github_repo_branch: master
    github_app_private_key: |+
{{ http_root_micahrl_com_interpersonal_app_private_key | indent(6, True) }}

  - name: disquisition.micahrl.com
    type: github
    uri: https://disquisition.micahrl.com
    sectionmap:
      default: research
      bookmark: reference
    github_owner: mrled
    github_repo: disquisition.micahrl.com
    github_repo_branch: master
    github_app_id: "{{ http_root_micahrl_com_interpersonal_app_id }}"
    github_app_private_key: |+
{{ http_root_micahrl_com_interpersonal_app_private_key | indent(6, True) }}

  - name: me.micahrl.com
    type: github
    uri: https://me.micahrl.com
    sectionmap:
      default: blog
    github_owner: mrled
    github_repo: me.micahrl.com
    github_repo_branch: master
    github_app_id: "{{ http_root_micahrl_com_interpersonal_app_id }}"
    github_app_private_key: |+
{{ http_root_micahrl_com_interpersonal_app_private_key | indent(6, True) }}

