#!/bin/sh
set -eux

micahrlci="{{ http_root_micahrl_com_micahrlci_script }}"

# Only build for branches in this list; surround each with pipes like '|master|dev|etc|'.
buildbranches="|master|"

# In a post-commit hook, the current directory is the git repository
barerepo="$PWD"

# We may have received commits to multiple branches;
# each iteration of the loop will handle one branch.
while read oldrev newrev refname; do

    # Convert a name like 'refs/heads/master' to 'master'
    branch=$(git rev-parse --symbolic --abbrev-ref $refname)

    # Output from this script is printed to the user who pushed.

    if ! echo "$buildbranches" | grep -q "|$branch|"; then
        echo "Skipping push to $branch (only build branches: $buildbranches)"
        continue
    fi

    # The 'git push' stays open until the script exits unless we background it with &.
    python3 "$micahrlci" "$newrev" "$barerepo"
done
