# See smb.conf.example for a more detailed config file or
# read the smb.conf manpage.
# Run 'testparm' to verify the config is correct after
# you modified it.

{# TODO: set server name to something (defaults to hostname) #}

[global]
    workgroup = SAMBA
    security = user
    passdb backend = tdbsam

[media]
    path = {{ seedbox_media_root }}
    writable = no
    guest ok = no
    valid users = {{ seedbox_user }}
