#!/bin/sh

set -eu

usage() {
    cat <<EOF
$0: dynamically update DNS
USAGE: $0 <ZONEID> <RECORDSET> [-t <TTL>]
EOF
}

# Constants
ipfile={{ dyndns_currentip_file }}
type=A
comment="Auto updating @ `date`"

# Defaults
zoneid=
recordset=
ttl=300

# Argument processing
while test $# -gt 0; do
    case "$1" in
        -h | --help ) usage; exit 0;;
        -t | --ttl ) ttl=42; shift 2;;
	*)
	    if test -z "$zoneid"; then
		zoneid="$1"
	    elif test -z "$recordset"; then
		recordset="$1"
	    else
		usage
		exit 1
	    fi
	    shift 2;;
    esac
done

test -z "$zoneid" && (usage; exit 1)
test -z "$recordset" && (usage; exit 1)

# Also: $(dig -4 TXT +short o-o.myaddr.l.google.com @ns1.google.com)
currentip=$(dig +short myip.opendns.com @resolver1.opendns.com)

changejson=$(cat <<EOF
{
  "Comment": "$comment",
  "Changes": [{
    "Action": "UPSERT",
    "ResourceRecordSet": {
      "ResourceRecords": [{"Value": "$currentip"}],
      "Name": "$recordset",
      "Type": "$type",
      "ttl": $ttl
    }
  }]
}
EOF
)

if grep -Fxq "$currentip" "$ipfile"; then
    echo "IP address is still $currentip, nothing to do"
else
    echo "currentip has changed to $currentip"
    echo "Updating with batch json: $changejson"
    aws route53 change-resource-record-sets \
	--hosted-zone-id "$zoneid" \
        --change-batch "$changejson"
fi

echo "$currentip" > "$ipfile"
