module capthook_buildpy 1.0;

require {
    type init_t;
    type user_home_t;
    class file { execute execute_no_trans open read };
}

#============= init_t ==============

allow init_t user_home_t:file { execute execute_no_trans open read };

