AWSTemplateFormatVersion: 2010-09-09
Description: micahrl.me. Zone

Resources:
  MicahrlDotMeZone:
    Type: "AWS::Route53::HostedZone"
    Properties:
      Name: micahrl.me.

  MicahrlDotMeRecords:
    Type: "AWS::Route53::RecordSetGroup"

    Properties:
      HostedZoneId: !Ref MicahrlDotMeZone
      RecordSets:
        - Name: micahrl.me.
          Type: A
          TTL: 60
          ResourceRecords: ["104.200.22.214"]
        - Name: www.micahrl.me.
          Type: CNAME
          TTL: 60
          ResourceRecords: ["micahrl.me."]

        - Name: com.micahrl.me.
          Type: CNAME
          TTL: 60
          ResourceRecords: ["boring-perlman-92bf89.netlify.app."]
        - Name: _suns.com.micahrl.me.
          Type: TXT
          TTL: 300
          ResourceRecords:
            - '"v1:e:3DOcEA7tFJAbQSbvIQ2d5c6P7k4xu2adw+gL2PYvrng=:US2J6QAgICRh/18mjTdnqM1u15yqy1TPmfU4PqsbEi4="'

        # Hosted email with fastmail.com
        - Name: micahrl.me.
          Type: MX
          TTL: 300
          ResourceRecords:
            - 10 in1-smtp.messagingengine.com.
            - 20 in2-smtp.messagingengine.com.
        - Name: micahrl.me.
          Type: TXT
          TTL: 300
          ResourceRecords:
            - '"v=spf1 include:spf.messagingengine.com ?all"'
        - Name: fm1._domainkey.micahrl.me.
          Type: CNAME
          TTL: 300
          ResourceRecords: [fm1.micahrl.me.dkim.fmhosted.com]
        - Name: fm2._domainkey.micahrl.me.
          Type: CNAME
          TTL: 300
          ResourceRecords: [fm2.micahrl.me.dkim.fmhosted.com]
        - Name: fm3._domainkey.micahrl.me.
          Type: CNAME
          TTL: 300
          ResourceRecords: [fm3.micahrl.me.dkim.fmhosted.com]

        - Name: kubernasty-controlplane.micahrl.me.
          Type: A
          TTL: 300
          ResourceRecords: ["192.168.1.220"]
        - Name: kubernasty-localnet-ingress.micahrl.me.
          Type: A
          TTL: 300
          ResourceRecords: ["192.168.1.221"]
        - Name: kubernasty-tailscale-ingress.micahrl.me.
          Type: A
          TTL: 300
          ResourceRecords: ["100.92.92.89"]
        - Name: "*.micahrl.me."
          Type: CNAME
          TTL: 60
          ResourceRecords: ["kubernasty-localnet-ingress.micahrl.me."]

  # KubernastyMicahrlDotMeZoneUpdaterGroup:
  #   Type: AWS::IAM::Group
  #   Properties:
  #     Policies:
  #       - PolicyName: KubernastyAllowUpdatingMicahrlDotMeZonePolicy
  #         PolicyDocument:
  #           Version: 2012-10-17
  #           Statement:
  #             - Effect: Allow
  #               Action:
  #                 - route53:GetChange
  #                 - route53:ListHostedZones
  #                 - route53:ListResourceRecordSets
  #               Resource: "*"
  #             - Effect: Allow
  #               Action:
  #                 - route53:ChangeResourceRecordSets
  #               Resource:
  #                 {
  #                   "Fn::Join":
  #                     [
  #                       "",
  #                       [
  #                         "arn:aws:route53:::hostedzone/",
  #                         { "Ref": "MicahrlDotMeZone" },
  #                       ],
  #                     ],
  #                 }


Outputs:
  OriginZoneId:
    Description: The ID of the micahrl.me. root zone
    Value: !Ref MicahrlDotMeZone
  # KubernastyMicahrlDotMeZoneUpdaterGroupArn:
  #   Description: The ARN for a group for Kubernasty cluster to use to modify records in the origin zone
  #   Value: !GetAtt KubernastyMicahrlDotMeZoneUpdaterGroup.Arn
