---
AWSTemplateFormatVersion: "2010-09-09"
Description: Backchannel Zone

# Single shared backchannel zone for all hosts.
# The hosts will save long lived AWS credentials and request wildcard TLS certs.
# This lets individual nodes in the tailnet to serve separate services on subdomains based on their hostname,
# like appname.naragua.backchannel.younix.us.
#
# Each node gets its own IAM user for credential isolation, even though they all have permission to update the entire zone.
# After running this stack, create IAM user credentials for each host that needs to update DNS.
# THESE WILL ONLY BE SHOWN ONCE and cannot be retrieved later.
# Use a command like:
# aws --profile primary-micahrl iam create-access-key --user-name NaraguaBackchannelZoneUpdater --query 'AccessKey.[AccessKeyId,SecretAccessKey]' --output text | cat


Resources:
  # Single backchannel zone for all hosts
  BackchannelZone:
    Type: "AWS::Route53::HostedZone"
    Properties:
      Name: backchannel.younix.us.

  # Records in the backchannel zone
  BackchannelRecords:
    Type: "AWS::Route53::RecordSetGroup"
    Properties:
      HostedZoneId: !Ref BackchannelZone
      RecordSets:
        # Naragua host records
        - Name: naragua.backchannel.younix.us.
          Type: A
          TTL: 60
          ResourceRecords: ["100.112.192.27"]
        - Name: "*.naragua.backchannel.younix.us."
          Type: CNAME
          TTL: 60
          ResourceRecords: ["naragua.backchannel.younix.us."]

        # Chineseroom host records
        - Name: chineseroom.backchannel.younix.us.
          Type: A
          TTL: 60
          ResourceRecords: ["100.104.25.104"]
        - Name: "*.chineseroom.backchannel.younix.us."
          Type: CNAME
          TTL: 60
          ResourceRecords: ["chineseroom.backchannel.younix.us."]

  # IAM group with permission to modify records in the backchannel zone
  BackchannelZoneUpdaterGroup:
    Type: AWS::IAM::Group
    Properties:
      GroupName: BackchannelZoneUpdaters
      Policies:
        - PolicyName: AllowUpdatingBackchannelZonePolicy
          PolicyDocument:
            Version: 2012-10-17
            Statement:
              - Effect: Allow
                Action:
                  - route53:GetChange
                  - route53:ListHostedZonesByName
                  - route53:ListHostedZones
                Resource: "*"
              - Effect: Allow
                Action:
                  - route53:ChangeResourceRecordSets
                  - route53:GetHostedZone
                  - route53:ListResourceRecordSets
                Resource: !Join
                  - "/"
                  - - "arn:aws:route53:::hostedzone"
                    - !Ref BackchannelZone

  # IAM users in the updater group - one per node
  NaraguaBackchannelZoneUpdaterUser:
    Type: AWS::IAM::User
    Properties:
      UserName: NaraguaBackchannelZoneUpdater
      Groups:
        - !Ref BackchannelZoneUpdaterGroup

Outputs:
  BackchannelZoneId:
    Description: The ID of the backchannel zone
    Value: !Ref BackchannelZone
    Export:
      Name: BackchannelZone-ZoneId

  BackchannelZoneUpdaterGroupArn:
    Description: The ARN for a group with permission to modify records in the backchannel zone
    Value: !GetAtt BackchannelZoneUpdaterGroup.Arn
    Export:
      Name: BackchannelZone-UpdaterGroupArn

  NaraguaBackchannelZoneUpdaterUserArn:
    Description: The ARN for the Naragua user with permission to modify records in the backchannel zone
    Value: !GetAtt NaraguaBackchannelZoneUpdaterUser.Arn
    Export:
      Name: BackchannelZone-NaraguaUpdaterUserArn

  NaraguaBackchannelZoneUpdaterUserName:
    Description: The name of the Naragua user with permission to modify records in the backchannel zone
    Value: !Ref NaraguaBackchannelZoneUpdaterUser
    Export:
      Name: BackchannelZone-NaraguaUpdaterUserName

  BackchannelZoneNameServers:
    Description: The nameservers for the backchannel zone
    Value: !Join [",", !GetAtt BackchannelZone.NameServers]
    Export:
      Name: BackchannelZone-NameServers
