[Unit]
Description=ifrit

[Service]
User={{ matrix_bot_ifrit_system_user }}
Group={{ matrix_bot_ifrit_system_group }}
Environment=PYTHONUNBUFFERED=1
ExecStart={{ matrix_bot_ifrit_venv_path }}/bin/trappedbot bot "{{ matrix_bot_ifrit_trappedbot_config_path }}"
ExecStop=/bin/kill -9 $MAINPID
Restart=on-failure
RestartSec=30

[Install]
WantedBy=multi-user.target
