#!/bin/sh
set -eu

host="{{ synoacme_syn_user }}@{{ synoacme_syn_server }}"
date=$(date +%Y%m%d)
tmppath=/tmp/${date}-acme-update
scp -r {{ synoacme_certificate_dir }}/certificates $host:$tmppath

echo "$(cat <<ENDSSH

echo "$(cat <<ENDSUDO

echo 'Copying files...'
cd /usr/syno/etc/ssl
if ! test -d /usr/syno/etc/certificate.acme_renew_hook_backup; then
  cp -r /usr/syno/etc/certificate /usr/syno/etc/certificate.acme_renew_hook_backup
fi
chown -R root:root "$tmppath"
mv $tmppath/{{ synoacme_domain }}.crt /usr/syno/etc/certificate/system/default/fullchain.pem
mv $tmppath/{{ synoacme_domain }}.key /usr/syno/etc/certificate/system/default/privkey.pem
echo 'Removing temp dir...'
rm -rf $tmppath
echo 'Reloading httpd-sys...'
sudo /usr/syno/sbin/synoservicecfg --reload nginx
echo 'Done'

ENDSUDO
)" | sudo su -

ENDSSH
)" | ssh $host
