#!/bin/sh
set -eu

export AWS_REGION={{ ircbnc_acmedns_updater_aws_region }}
export AWS_ACCESS_KEY_ID={{ ircbnc_acmedns_updater_aws_access_key }}
export AWS_SECRET_ACCESS_KEY={{ ircbnc_acmedns_updater_aws_secret_key }}
export AWS_HOSTED_ZONE_ID={{ ircbnc_acmedns_updater_aws_zone_id }}

certdir="{{ ircbnc_acmedns_updater_certificate_dir }}"
domain="{{ ircbnc_acmedns_updater_domain }}"
email="{{ ircbnc_acmedns_updater_email }}"
installer="{{ ircbnc_znc_install_pem_script }}"

echoexec() { echo "Running: $*"; $*; }

echoexec /usr/local/bin/wraplego.py \
    --verbose \
    --legodir "$certdir" \
    --email "$email" \
    --domain "$domain" \
    --authenticator "route53"

certfileprefix="$certdir/certificates/$domain"

echoexec cat "$certfileprefix.key" "$certfileprefix.crt" "$certfileprefix.issuer.crt" > "$certfileprefix.fullchain.pem"
sudo /usr/local/bin/install_znccert.sh
echoexec sudo "$installer"
