---

- name: Deploy CloudFormation template for stack {{ cloudformation_stack_name }}
  cloudformation:
    stack_name: "{{ cloudformation_stack_name }}"
    state: present
    region: "{{ cloudformation_aws_region }}"
    template_body: "{{ lookup('file', cloudformation_template_path) }}"
    tags: "{{ cloudformation_tags }}"
    on_create_failure: "{{ cloudformation_on_create_failure }}"
    template_parameters: "{{ cloudformation_template_params }}"
    profile: "{{ cloudformation_aws_profile | default(omit) }}"
  register: cloudformation_result

- name: Show deployment result for stack {{ cloudformation_stack_name }}
  debug:
    var: cloudformation_result
