{
    "id": "acmedns_{{ acmedns_syno_updater_job_name }}",
    "execute-command": "sudo",
    "pass-arguments-to-command": [
      {"source": "string", "name": "-u"},
      {"source": "string", "name": "{{ acmedns_syno_updater_user }}"},
      {"source": "string", "name": "{{ acmedns_syno_updater_script_path }}"}
    ],
    "include-command-output-in-response": true
}
