---
baseURL: https://kubernasty-labnotes.micahrl.com
languageCode: en-us
title: Kubernasty

module:
  imports:
    path: github.com/alex-shpak/hugo-book

params:
  repobase: https://gitea.micahrl.me/kubernasty/psyops/src/branch/master
  BookTheme: auto
  BookLogo: favicon.png
  BookDateFormat: 2006-01-02
  BookComments: false

  PsyopsSymbol: ğ“¿