[Unit]
Description=Mitmproxy SNI Filter
After=network.target

[Service]
Type=simple
WorkingDirectory=/var/lib/mitmproxy
Environment="HOME=/var/lib/mitmproxy"
ExecStart=/opt/mitmproxy.venv/bin/mitmdump -p {{ chineseroom_mitmproxy_port }} --mode transparent --scripts /etc/mitmproxy/sni-filter.py
Restart=always
RestartSec=10
StandardOutput=journal
StandardError=journal
SyslogIdentifier=mitmproxy
CapabilityBoundingSet=CAP_NET_RAW CAP_NET_ADMIN
AmbientCapabilities=CAP_NET_RAW CAP_NET_ADMIN
NoNewPrivileges=true

[Install]
WantedBy=multi-user.target
