# This is the canonical URL that all clients MUST use to refer to dex. If a
# path is provided, dex's HTTP service will listen at a non-root URL.
issuer: https://{{ seedbox_dex_domain }}

# Users are defined under staticPasswords in this file,
# but this is still needed for sessions n' tokens n' shit
storage:
  type: sqlite3
  config:
    file: /dexdb/dex.db
    #file: ":memory:"

web:
  http: 0.0.0.0:5556

frontend:
  issuer: Chemtrails
  dir: /srv/dex/web
  theme: mindcontrol

# https://dexidp.io/docs/id-tokens/#expiration-and-rotation-settings
expiry:
  idTokens: 168h

oauth2:
  skipApprovalScreen: true

staticClients:
- id: "{{ seedbox_dex_client_id }}"
  redirectURIs:
  - https://{{ seedbox_tfa_domain }}/_oauth
  name: "{{ seedbox_root_domain }}"
  secret: "{{ seedbox_dex_client_secret }}"

enablePasswordDB: true

logger:
  level: "debug"
  # format: json or text
  format: "text"

staticPasswords:
- username: "{{ seedbox_web_admin_user }}"
  email: {{ seedbox_web_admin_user }}@{{ seedbox_root_domain }}
  hash: "{{ seedbox_web_admin_pass_bcrypt }}"
  userID: "{{ seedbox_web_admin_user }}"
