cluster.name: "{{ seedbox_stack_name }}"
network.host: 0.0.0.0
discovery.type: single-node

xpack:
  security:
    # Require passwords for all connections, including logstash ingestion
    enabled: true
    # Disable HTTPS because we're on a secure Docker network
    http.ssl.enabled: false
    transport.ssl.enabled: false
  license.self_generated.type: basic

# I think this is the default?
action.auto_create_index: true

http.port: 9200
# Allow CORS from dejavu
http.cors.enabled: true
http.cors.allow-origin: 'http://localhost:1358,http://127.0.0.1:1358,https://{{ seedbox_dejavu_domain }}:443,https://{{ seedbox_dejavu_domain }}'
http.cors.allow-headers: X-Requested-With,X-Auth-Token,Content-Type,Content-Length,Authorization
http.cors.allow-credentials: true
