# defaultEntryPoints must be at the top
# because it should not be in any table below

defaultEntryPoints = ["http", "https"]

[log]
  level = "DEBUG"

[api]
  dashboard = true

[entryPoints]
  [entryPoints.http]
    address = ":80"
  [entryPoints.https]
    address = ":443"

[http.middlewares]
  [http.middlewares.seedbox-https-redir.redirectScheme]
    scheme = "https"
    permanent = true

[certificatesResolvers.seedbox-resolver.acme]
  storage = "/acme.json"
  email = "{{ seedbox_acme_email }}"
  {% if seedbox_acme_staging | bool %}caServer = "https://acme-staging-v02.api.letsencrypt.org/directory"{% endif %}

  [certificatesResolvers.seedbox-resolver.acme.dnsChallenge]
    provider = "route53"

[providers.docker]

[docker]
  endpoint = "unix:///var/run/docker.sock"
  domain = "{{ seedbox_domain }}"
  watch = true
  exposedbydefault = false

