# transmission-rss.conf

{{ seedbox_transmission_rss_feeds }}

server:
  host: {{ seedbox_bindaddr_v4 }}
  port: {{ seedbox_rpc_port }}
  tls: false
  rpc_path: /transmission/rpc

login:
  username: {{ seedbox_rpc_username }}
  password: {{ seedbox_rpc_password }}

privileges:
  user: {{ seedbox_local_user }}
  group: {{ seedbox_local_group }}

client:
  timeout: 5

