---
- name: Deploy me.micahrl.com static site infrastructure
  hosts: localhost
  connection: local
  become: no
  gather_facts: no
  roles:
    - name: cfn
      cloudformation_stack_name: MeMicahrlDotCom
      cloudformation_template_path: cloudformation/MeMicahrlDotCom.cfn.yml
      cloudformation_aws_region: us-east-1  # ACM certificates for CloudFront must be in us-east-1
      cloudformation_aws_profile: primary-micahrl
      cloudformation_capabilities: ["CAPABILITY_IAM"]
      cloudformation_template_params:
        LogsBucketName: micahrl-web-test-logs
        ObverseDomain: testme.micahrl.com
        ObverseBucketName: micahrl-web-test-obverse
        ObverseHostedZoneId: "{{ global_origin_zone_zone_id }}"
        ReverseDomain: testcom.micahrl.me
        ReverseBucketName: micahrl-web-test-reverse
        ReverseHostedZoneId: "{{ global_micahrl_me_zone_id }}"
      tags:
        - me.micahrl.com
        - com.micahrl.me
