---
- name: Deploy me.micahrl.com/com.micahrl.me static site infrastructure
  hosts: localhost
  connection: local
  become: no
  gather_facts: no
  tasks:
    - template:
        src: cloudformation/MicahrlWeb.cfn.yml
        dest: /tmp/MicahrlWebRendered.cfn.yml
      when: "'micahrl_web_test_render' in ansible_run_tags"
      tags:
        - micahrl_web_test_render
  roles:
    - name: cfn
      cloudformation_stack_name: MicahrlWebTest
      cloudformation_template_path: cloudformation/MicahrlWeb.cfn.yml
      cloudformation_aws_region: us-east-1  # ACM certificates for CloudFront must be in us-east-1
      cloudformation_aws_profile: primary-micahrl
      cloudformation_capabilities: ["CAPABILITY_IAM"]
      cloudformation_jinja2_enable: true
      cloudformation_template_params:
        LogsBucketName: "micahrl-web-test-logs"
        ObverseBucketName: "micahrl-web-test-obverse"
        ReverseBucketName: "micahrl-web-test-reverse"
        AthenaDatabaseName: "micahrl_web_test_logs"
        ObverseHostedZoneId: "{{ global_origin_zone_zone_id }}"
        ReverseHostedZoneId: "{{ global_micahrl_me_zone_id }}"
        ObverseDomain: "testme.micahrl.com"
        ReverseDomain: "testcom.micahrl.me"
      when: "'micahrl_web_test_render' not in ansible_run_tags"
      tags:
        - me.micahrl.com
        - com.micahrl.me
