[defaults]
inventory = inventory
pipelining = True
retry_files_enabled = False
timeout = 60
remote_user = psyops-ansible

[ssh_connection]
ssh_args = -o ControlMaster=auto -o ControlPersist=60s -o ConnectTimeout=6 -o ConnectionAttempts=30 -o IdentitiesOnly=yes
scp_if_ssh = True
retries = 30

[privilege_escalation]
become = True
