[Desktop Entry]
Type=Application
Name=Synergy Server

# Flatpak is weird.
# You have to tell it the command to use with --command,
# otherwise it'll just run the Synergy desktop application.
# Then after the package name of com.symless.Synergy,
# you can pass arguments to the --command.
Exec=/usr/bin/flatpak run --filesystem=/home/$user/synergy.conf --command=synergys com.symless.Synergy --enable-crypto --no-daemon
