apiVersion: v1
kind: Service
metadata:
  name: seedboxk8s-tailscale-proxy
  namespace: traefik
  annotations:
    tailscale.com/expose: "true"
spec:
  selector:
    app: traefik-tailscale

  # This must match the IP address in the TS_DEST_IP env var in the tailscale pod,
  # and ofc it must be unique in the cluster.
  clusterIP: 10.96.0.100

  ports:
  - name: web
    protocol: TCP
    port: 80
    targetPort: 80
  - name: websecure
    protocol: TCP
    port: 443
    targetPort: 443
  - name: clustergit-ssh
    protocol: TCP
    port: 20022
    targetPort: 20022
  - name: plex32400
    protocol: TCP
    port: 32400
    targetPort: 32400
  - name: plex64800
    protocol: TCP
    port: 64800
    targetPort: 64800
