apiVersion: v1
kind: ConfigMap
metadata:
  name: pinepods-values
  namespace: pinepods

data:
  # https://github.com/madeofpendletonwool/PinePods/blob/main/deployment/kubernetes/helm/pinepods/values.yaml
  values.yaml: |
    replicaCount: 1

    image:
      repository: madeofpendletonwool/pinepods
      tag: latest
      pullPolicy: IfNotPresent

    service:
      type: ClusterIP
      port: 8040

    ingress:
      enabled: false

    persistence:
      enabled: true
      downloads:
        storageClass: seedbox-slow-mirror
        size: 50Gi
      backups:
        storageClass: seedbox-slow-mirror
        size: 10Gi

    postgresql:
      enabled: false
      image:
        repository: bitnamilegacy/postgresql # TODO: FIXME
      auth:
        username: postgres
        database: pinepods_database
      primary:
        persistence:
          enabled: true
          storageClass: seedbox-slow-mirror
          size: 3Gi

    # External database configuration
    # Only used when postgresql.enabled is false
    externalDatabase:
      type: postgresql
      host: "pinepods-postgres.pinepods.svc.cluster.local"
      port: 5432
      user: postgres
      database: pinepods_database
      existingSecret:
        enabled: false
        name: existing-secret
        key: password
      # -- manually provide the DB environment variables under extraEnv. Useful for DB solutions like CNPG
      manuallyProvide: false

    valkey:
      enabled: false

    backend:
      enabled: false

    podpeople:
      enabled: false

    env:
      SEARCH_API_URL: "https://search.pinepods.online/api/search"
      USERNAME: "freeleech"
      FULLNAME: "Free Leech"
      EMAIL: "freeleech@${productionClusterFqdn}"
      DB_TYPE: "postgresql"
      DB_HOST: "pinepods-postgres.pinepods.svc.cluster.local"
      DB_PORT: "5432"
      DB_USER: "postgres"
      DB_NAME: "pinepods_database"
      VALKEY_HOST: "pinepods-valkey.pinepods.svc.cluster.local"
      VALKEY_PORT: "6379"
      DEBUG_MODE: "false"
